cord-v2/train/data-00000-of-00004.arrow
cord-v2/dataset_dict.json
cord-v2/test/data-00000-of-00001.arrow
cord-v2/test/dataset_info.json
cord-v2/test/state.json
cord-v2/train/data-00001-of-00004.arrow
cord-v2/train/data-00002-of-00004.arrow
cord-v2/train/data-00003-of-00004.arrow
cord-v2/train/dataset_info.json
cord-v2/train/state.json
cord-v2/validation/data-00000-of-00001.arrow
cord-v2/validation/dataset_info.json
cord-v2/validation/state.json
test_dataloader.pkl
train_dataloader.pkl
val_dataloader.pkl
cord-v2-layoutlmv3-base/config.json
cord-v2-layoutlmv3-base/pytorch_model.bin
